@import "tailwindcss";

.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}

.cormorant-garamond {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400; /* or 700 */
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%; /* ensures the background covers full height */
}

body {
  background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");
  background-color: #9e916b;
  background-repeat: repeat; /* keeps the texture repeating */
  background-attachment: fixed; /* keeps texture in place when scrolling */
  background-size: auto; /* keeps original size, or use cover/contain if you want */
}

.card {
  background-color: #4a2e18b0;
  background-image: url("https://www.transparenttextures.com/patterns/dust.png");
  background-blend-mode: overlay;
}
