@import "tailwindcss";

.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}

.cormorant-garamond {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400; /* or 700 */
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%; /* ensures the background covers full height */
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");
  background-repeat: repeat;
  background-attachment: fixed;
  opacity: 0.2; /* lower value = more subtle */
  pointer-events: none; /* allows clicks through */
  z-index: -1; /* behind everything */
}
body {
  background-color: #23221d; /* your base color */
}

.card {
  background-color: #4a2e18b0;
  background-image: url("https://www.transparenttextures.com/patterns/dust.png");
  background-blend-mode: overlay;
}
