@import "tailwindcss";

.cinzel-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}

.cormorant {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400; /* or 700 */
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%; /* ensures the background covers full height */
}


body {
  background-color: #080404; 
} 
